<body class="d-flex justify-content-center">
<div class="get-in-touch">
  <h1 class="title">Add new category</h1>

  <form [formGroup]="categoriesForm" (ngSubmit)="onSubmit()" class="contact-form">

    <!--Description Field-->
    <div class="form-field">
      <input type="text"
             id="name"
             name="name"
             class="input-text"
             formControlName="name"
             required />
      <label class="label" for="name">Name</label>
      <div class="error-message" *ngIf="categoriesForm?.controls?.name?.invalid && categoriesForm?.controls?.name?.touched">
        Name must be more than 20 characters up to 750 maximum!
      </div>
    </div>

    <!-- Submit Button -->
    <button type="submit"
            class="submit-btn "
            [disabled]="categoriesForm.invalid">
      Add Category
    </button>

    <!-- General Error Section -->
    <div class="form-error-message" *ngIf="formError">
      {{ formError }}
    </div>
  </form>
</div>
  </body>
