body {
  background-color: #f8f9fa;
}

.card {
  border-radius: 12px;
}

.btn {
  border-radius: 8px;
}

.list-group-item {
  border-radius: 6px;
}

.form-control {
  border-width: 2px;
  border-radius: 8px;
}

.btn-success {
  background-color: #28a745;
  border-color: #28a745;
}

  .btn-success:hover {
    background-color: #218838;
    border-color: #1e7e34;
  }

.btn-secondary {
  background-color: #6c757d;
  border-color: #6c757d;
}

  .btn-secondary:hover {
    background-color: #5a6268;
    border-color: #545b62;
  }
